*.DS_Store

*.eps

08_Pronóstico/\+Model_SOECESPricesMP/

08_Pronóstico/Model_SOECESPricesMP/model/

08_Pronóstico/Model_SOECESPricesMP/prior/

08_Pronóstico/Model_SOECESPricesMP/checksum

08_Pronóstico/Model_SOECESPricesMP.log
